/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* common css */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* container section css */

.container{
    width: 100%;
    height: 677px;
    background-color: #2D25A0;
    
}
.top-banner{
    display: flex;
}
.top-banner .left-part{
    width: 50%;
}
.top-banner .left-part h1{
    margin: 0;
    font-size: 64px;
    color: #fff;
    font-weight: bold;
    margin-left: 156px;
    margin-top: 153px;
    margin-bottom: 50px;
}
.top-banner .left-part .button{
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 44px;
    width: 168px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 3px;
    margin-left: 156px;
}
.top-banner .left-part .button:hover{
    background-color: white;
    color: blue;
    transition: all ease-in-out 1s;
}
.top-banner .left-part i{
    padding-left: 8px;
    
    
}

.top-banner .right-part img{
    width: 70%;
    height: 438px;
    margin-top: 135px;
    margin-left: 100px;
    transition: transform ease-in-out 2s;
}
.right-part img:hover{
    cursor: pointer;
    transform: scale(1.2);
    
}


/* grid container css */

.grid-container{
    width: 100%;
    min-height: 1000px;
    background-color: whitesmoke;
    position: absolute;

}
.content-container{
    min-height: 1000px;
    background-color: whitesmoke;
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    grid-gap: 27px 27px;
}
.content-container .box{
    background-color: white;
    width: 300px;
    height: 474px;
    padding: 8px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 3px;
}
.content-container img{
    width: 300px;
    height: 256px;
}

/* Live video section css */

.live-video-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:30px 30px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    
}
.live-video-container .one-part h1{
    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
    /* margin-left: 156px; */
}
.live-video-container .one-part p{
    font-size: 14px;
    color:  #6C6C6C;

}
.button-area{
    margin-top: 35px;
}
.live-video-container .one-part i{
    padding-left: 8px;
}


.live-video-container .one-part .button{
    color: white;
    text-decoration: none;
    font-size: 16px;
    height: 44px;
    width: 168px;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 3px;
    margin-top: 20px;
    
}
.live-video-container .one-part .button:hover{
    background-color: white;
    color: blue;
    transition: all ease-in-out 1s;
}

.another-part{
    margin-top: 80px;
    margin-left: 20px;
}

/* last section css */

footer{
    width: 30%;
    margin: 0 auto;
    height: 213px;
    margin-top: 320px;
    margin-bottom: 30px;
}

.last-section .logo img{
    width: 480px;
    height: 110px;
    text-align: center;
}
.last-section .icons{
    text-align: center;
    margin-top: 20px;
}
.last-section .icons i{
    padding-right: 30px;
    font-size: 20px;
}
.last-section .last-line{
    text-align: center;
    font-size: 18px;
}